.data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .block {
    flex-basis: calc(100% / 3);
    max-width: 300px;
    height: 200px;
    background-color: #ccc;
    box-sizing: border-box;
    border: 1px solid #333;
  }
  
  @media screen and (max-width: 768px) {
    .block {
      flex-basis: 100%;
      margin: 10px;
    }
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #030424;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  button[type="submit"] {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    padding: 12px 20px; /* Padding */
    border: none; /* No borders */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Transition effect on background color */
  }
  
  button[type="submit"]:hover {
    background-color: #d32f2f; /* Darker red background on hover */
  }
  
  button[type="submit"]:active {
    background-color: #b71c1c; /* Even darker red background when button is clicked */
  }
  